body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, pink,coral);
}
table, td, th {
    border: 1px solid;
    background-color: lightskyblue;
}

table{
    width: 100%;
    border-collapse: collapse;
    
    
}
#title{
    text-align: center;
}


