body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, pink,coral);
}
th{
    background-color: lightskyblue;
}

td{
   background-color: white; 
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 5px solid;
    text-align: left;
    
}
#title{
    text-align: center;
}


