body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, yellow,coral);
}
th{
    background-color: lightskyblue;
}
tbody tr:nth-of-type(even){
    background-color: lightgrey;
}
tbody tr{
    background-color: white; 
    border-bottom: 1px solid black;
 }
tbody td{
    border-right: 1px solid black;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid;
    text-align: left;
    
}
#chart_div,#chart_div2,#chart_div3{
    background-color: pink;
    border: 1px solid black;
}
#title{
    text-align: center;
}


